<!-- Team Stats Page -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>2018 Season Stats</title>
	<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="../resources/css/my_style.css" rel="stylesheet">
  </head>
  <body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="home.html">
		<img class="rounded-circle" src="../resources/img/cu_boulder_logo.jpg" alt="" width="30" height="30">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item">
			<a class="nav-link" href="home.html">Home</a>
		  </li>
		  <li class="nav-item active">
			<a class="nav-link" href="team_stats.html">Season Stats</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="player_info.html">Player Information</a>
		  </li>
		</ul>
		<div class="form-inline my-2 my-lg-0">
			<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
		</div>
	  </div>
	</nav>
	<div class="container">
		<!-- 
			Todo: Add to your team_stats.html page the following components:

				1. JumboTron announcing the Fall 2018 Season
				2. A table listing 3 different football matches (Colorado State, Nebraska, & New Hampshire)
				3. A second table listing the Win/Loss ratio for the season
		-->
        <div class="jumbotron">
            <h1 class = display-4>Colorado Buffaloes Football 2018 Schedule</h1>
            <p class = lead>The following is the schedule for the Buffs this upcoming season</p>
            <ul class = list-group>
                <li class = list-group-item>
                    August 31st: Colorado @ Colorado State
                </li>
                <li class = list-group-item>
                    September 8th: Colorado @ Nebraska
                </li>
                <li class = list-group-item>
                    September 15th: New Hampshire @ Colorado
                </li>
                <li class = list-group-item>
                    September 28th: UCLA @ Colorado
                </li>
                <li class = list-group-item>
                    October 6th: Arizona State @ Colorado
                </li>
                <li class = list-group-item>
                    October 13th: Colorado @ USC
                </li>
                <li class = list-group-item>
                    October 20th: Colorado at (9)Washington
                </li>
                <li class = list-group-item>
                    October 27th: Oregon State @ Colorado
                </li>
                <li class = list-group-item>
                    November 2nd: Colorado @ Arizona
                </li>
                <li class = list-group-item>
                    November 10th: (13)Washington St. @ Colorado
                </li>
                <li class = list-group-item>
                    November 17: (17)Utah @ Colorado
                </li>
                <li class = list-group-item>
                    November 24th: Colorado @ California
                </li>
            </ul>
        </div>

        <h2>Game Results</h2>
        <table class = table>
            <tr>
                <th>Game Number</th>
                <th>Away Team</th>
                <th>Home Team</th>
                <th>Game Date</th>
                <th colspan="2">Score</th>
            </tr>
            <tr>
                <td>1</td><td>Colorado</td> <td>Colorado State</td> <td>8/31/18</td> <td><b>Colorado: 45</b> CSU: 13 </td>
            </tr>
            <tr>
                <td>2</td><td>Colorado</td> <td>Nebraska</td> <td>9/8/18</td> <td><b>Colorado: 33</b> Nebraska: 28</td>
            </tr>
            <tr>
                <td>3</td><td>New Hampshire</td> <td>Colorado</td> <td>9/15/18</td> <td>New Hampshire: 14 <b>Colorado: 45</b></td>
            </tr>
        </table>

        <h2>Current Standings</h2>
        <table class = table>
            <tr>
                <th>Wins</th> <th>Losses</th>
            </tr>
            <tr><td>5</td> <td>7</td></tr>
        </table>
	</div>
  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>